/**RESET**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
}

main nav{
    width: 200px;
    height: calc(100vh - 100px);
    background-color: aqua;
}

main section{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    background-color: red;
}

footer{
    height: 100px;
    background-color: blue;
}

.upper-nav, .lower-nav{
    padding: 1.5rem;
}

ul li{
    list-style-type: none;
    padding-top: .8rem;
}

li img{
    width: 20px;
    height: 20px;
}