/**RESET**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

main{
    display: flex;
}

main nav{
    width: 200px;
    height: calc(100vh - 100px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main section{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    background-color: #141922;
}

button{
    background-color: #080b12;
    padding: .7rem 2.5rem;
    border-radius: 40px;
}

footer{
    height: 100px;
    background-color: #282828;
}



/***********************************
    *****GENERAL UTILITIES*****
************************************/

.flex{
    display: flex;
}

.w-text{
    color: white;
}

.small-text{
    font-size: .7rem;
}

.upp-case{
    text-transform: uppercase;
}

.grey-text{
    color: #6b6b6b;
}

.cursor{
    cursor: pointer;
}

/*******************/

#main{
    overflow: auto;
}

.upper-nav, .lower-nav{
    padding: 1.5rem;
}

.upper-nav{
    height: 100%;
}

.spotify-img{
    filter: invert(1);
    padding-right: .3rem;
}

.upper-section{
    position: fixed;
    width: calc(100% - 200px);
    z-index: 3;
    height: 80px;
    background-color: #080b12;
    justify-content: end;
    align-items: center;
}

.fa-square-plus{
    font-size: 1.4rem;
}

li.cursor:hover{
    color: white;
}

span.cursor:hover{
    color: white;
}

.main-section{
    padding-top: 5rem;
}

.menu{
    max-width: 700px;
    margin: 0 auto;
    overflow: auto;
}

.main-container{
    padding: 1rem;
}

.recently-played{
    flex-wrap: wrap;
}

.box{
    width: calc((100% / 6) - .5rem);
    margin-right: .5rem;
    margin-top: 1rem;
}

.suggested{
    margin-top: 2rem;
}

.popular-covers{
    width: calc((100% / 6) - .5rem);
    margin-right: .5rem;
    margin-top: 1rem;
}

.l-side{
    width: 20%;
    align-items: center;
}

.song-title{
    padding-left: 1rem;
}

.m-side{
    width: 60%;
    justify-content: center;
    align-items: center;
}

.bar{
    height: 3px;
    width: 55%;
    border-radius: 6px;
    background-color: #5a5a5a;
    margin: .4rem;
}

.point-bar{
    height: 3px;
    width: 30%;
    border-radius: 6px;
    background-color: white;

}

.r-side{
    width: 20%;
    align-items: center;
    justify-content: end;
}


.fa-circle-play{
    font-size: 1.6rem;
}

.music-icon{
    justify-content: center;
}


.popular-artist h1{
    margin-top: 2rem;
}

.time-section{
    width: 100%;
}

.popular-artist p{
    color: #6b6b6b;
    font-size: .8rem;
}

ul li{
    list-style-type: none;
    padding-top: .7rem;
    color: #6b6b6b;
}

ul#playlists li{
    font-size: .9rem;
}

ul h3{
    padding-top: 1.3rem;
}

li img{
    width: 20px;
    height: 20px;
    color: #6b6b6b;
}

.download-side img{
    width: 16px;
    height: 16px;
}

.download-side{
    border-bottom: 1px solid #6b6b6b;
    color: #6b6b6b;
    align-items: center;
}

.account img{
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: 50%;
}

.lower-nav .account{
    padding-top: 1.5rem;
}

.footer-container{
    justify-content: space-between;
}


div.menu ul{
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: .9rem;
    padding: .5rem;
}

div.box{
    height: 100%;
}

div.box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div.box h3,
div.popular-covers h3{
    text-align: center;
    color: white;
    font-size: 1rem;
}

div.box p{
    text-align: center;
    color: #6b6b6b;
    font-size: .8rem;
}

div.suggested p{
    color: #6b6b6b;
    font-size: .8rem;
}

div.popular-covers img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

div.popular-covers{
    height: 100%;
}

.footer-container{
    padding: 1rem;
    height: 100%;
    justify-content: space-between;
}


div.song-cover img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

div.l-side .flex{
    padding-left: 2rem;
}

div.music-icon i{
    padding-right: 1.5rem;
}

div.l-side i{
    padding-right: .6rem;
}

div.r-side i{
    padding-left: 2rem;
}

div.m-side .flex{
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 1rem;
    justify-content: center;
}

div.m-side hr{
    height: 1px;
    width: 60%;
    margin: .5rem;
}

.play-icon{
    display: none;
}

.metal{
    position: relative;
}

.play-icon:hover{
    position: absolute;
    margin: 0 auto;
    z-index: 100;
    opacity: 0.9;
    top: 0%;
    left: 0px;
    right: 0px;
    display: block;
}


@media screen and (max-width: 992px){
    .menu{
        max-width: 600px;
        margin: 0 auto;
    }

    .box{
        width: calc((100% / 4) - .5rem);
        margin-right: .5rem;
    }

    .menu ul li{
        padding-right: 1.5rem;
    }

    .popular-covers{
        width: calc((100% / 4) - .5rem);
        margin-right: .5rem;
    }

}


@media screen and (max-width: 768px){

    .box{
        width: calc((100% / 2) - 1rem);
        height: 180px;
        margin-right: 1rem;
    }

    .popular-covers{
        width: calc((100% / 2) - 1rem);
        margin-right: 1rem;
    }

    div.menu ul{
        width: 80%;
        margin: 0 auto;
    }

    div.l-side .flex{
        padding-left: .6rem;
        flex-direction: column;
    }

    div.r-side i {
        padding-left: .7rem;
      }
}


/*XS*/
@media screen and (max-width: 576px){
    
    main nav{
        width: 80px;
    }

    main section{
        width: calc(100% - 80px);
    }

    .upper-nav h1{
        display: none;
    }

    .upper-section{
        width: calc(100% - 80px);
    }

    #playlists,
    .lower-nav span,
    li span{
        display: none;
    }

    li img{
        width: 30px;
        height: 30px;
        color: #6b6b6b;
        text-align: center;
    }

    .download-side img{
        width: 100%;
    }

    .box{
        width: calc((100% / 2) - 1rem);
        height: 180px;
        margin-right: 1rem;
    }

    .popular-covers{
        width: calc((100% / 2) - 1rem);
        margin-right: 1rem;
    }

    .l-side{
        width: 30%;
    }

    div.music-icon i{
        padding-right: 1.2rem;
    }
    
    .m-side{
        width: 40%;
    }
    
    .r-side{
        width: 30%;
    }

    div.l-side .flex{
        padding-left: .3rem;
        flex-direction: column;
    }

    div.r-side i {
        padding-left: 1rem;
      }

}


