/**RESET**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

main{
    display: flex;
}

main nav{
    width: 200px;
    height: calc(100vh - 100px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}

main section{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    background-color: red;
}

footer{
    height: 100px;
    background-color: blue;
}


/***********************************
    *****GENERAL UTILITIES*****
************************************/

.flex{
    display: flex;
}

.w-text{
    color: white;
}





/*******************/

.upper-nav, .lower-nav{
    padding: 1.5rem;
}

ul li{
    list-style-type: none;
    padding-top: .7rem;
    color: #6b6b6b;
}

ul h3{
    padding-top: 1.3rem;
}

li img{
    width: 20px;
    height: 20px;
    color: #6b6b6b;
}

.download-side img{
    width: 16px;
    height: 16px;
}

.download-side{
    border-bottom: 1px solid #6b6b6b;
    color: #6b6b6b;
}

.account img{
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: 50%;
}
